/FMAndroidBase/ARM64
/FMAndroidBase/.vs
/FMAndroidBase/ARM
/FMAndroidBase/x86
/FMAndroidBase/x64
/FMAndroidBase/FMAndroid/FMAndroid.NativeActivity/ARM64
/FMAndroidBase/FMAndroid/FMAndroid.NativeActivity/x86
/FMAndroidBase/FMAndroid/FMAndroid.NativeActivity/x64
/FMAndroidBase/FMAndroid/FMAndroid.NativeActivity/ARM
/FMAndroidBase/FMAndroid/FMAndroid.Packaging/ARM
/FMAndroidBase/FMAndroid/FMAndroid.Packaging/ARM64
/FMAndroidBase/FMAndroid/FMAndroid.Packaging/x86
/FMAndroidBase/FMAndroid/FMAndroid.Packaging/x64
